body {
    background-color: black;
}


header {
    color: red;
    margin: 50px 50px;
    text-align: center;
}

h1 {
    margin-bottom: 0;
    text-align: center;
}

h2 {
    font-size: large;
}

header p {
    margin-top: 0;
    text-align: center;
}


.tengah {
    width: 900px;
    margin: 0 auto;
    position: relative;
}

.gambar img {
    width: 41%;
    height: 400px;
    object-fit: cover;
    padding: 0px 0px 0px 0px;
    float: left;
    display: block;

}

.kotak {
    width: 55%;
    height: 121px;
    display: flex;
    background-color: white;
    margin-left: 25px;
    margin-bottom: 18.5px;
    float: right;
}

.kata {
    padding-left: 15px;

}

button {
    background-color: red;
    color: black;
    border: 0;
    width: 100px;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: black;
}